<div class="">
  <input type="file" accept="image/png, image/jpeg" #file placeholder="Choose file" multiple
    (change)="onSelectFiles($event)" style="display:none;position: fixed;">


    
  <div class="images">
    <div class="image" *ngFor="let image of images; let i = index">
      <div class="">
        <img [src]="image.Url" alt="" (click)="showImage(image, i)">
      </div>
      <div class="delete" *ngIf="!studentMode"  (click)="delete(image)">Delete image</div>
    </div>

    <button class="tertiary " *ngIf="file && !laoding && !studentMode" (click)="file.click()">Upload images</button>

    <!-- <div class="add-image" >

      <span class="material-icons">
        add_box
      </span>
    </div> -->
  </div>

  <div class="laoding" *ngIf="laoding">
    <div class="bt" [style.width.%]="progress"></div>
  </div>




</div>
