@import '../../../../../assets/styles/color';
.cards{
    padding: 1em;
    .card {
        background: $white;
        padding: 1em;
        text-align: left;
        margin: .75em auto;
        .card-grid{
            display: grid;
            grid-template-columns: 6em auto;
            img{
                width:3.5em;
            }
        }
        h3 {
          padding: 0;
        }
      }
}

