

<div class="subjects container" *ngIf="subjects && subjects.length">
  <h2>
    <span>
      My subjects 
    </span>
  </h2>
  <app-slider-widget [items]="subjects"></app-slider-widget>
</div>



<!-- <div class="main global-padding" *ngIf="user && user.Company">
  <div class="company-profile">
    <div class="cdp">
      <img [src]="user.Company.Dp" alt="">
    </div>

    <div class="details">
      <h3>
        {{user.Company.Name}}
        
        <span class="block black" *ngIf="user.Company.Description">{{user.Company.Description}} <br> <br></span>

 
      </h3>

      <button style="width: 12em;" class="primary"  *ngIf="user && user.UserType === ADMIN" (click)="goto('company-profile')">Edit school</button>
    </div>
  </div>

 
  <br>

 
</div> -->


<app-menu-items *ngIf="user && user.UserType === ADMIN"></app-menu-items>

<app-super-overview *ngIf="user && user.UserType === SUPER"></app-super-overview>

<!-- <app-teacher-portal  *ngIf="user && user.UserType === TEACHER"></app-teacher-portal> -->

<app-learner-portal  *ngIf="user && user.UserType === LEARNER"></app-learner-portal>