<div class="stats">

  <div class="stat" (click)="goto('list-grades')">
    <span> {{grades?.length}}</span>
    School Grades
  </div>
  <div class="stat" (click)="goto('list-subjects')">
    <span> {{subjects?.length}}</span>
    School Subjects
  </div>
  <div class="stat" (click)="goto('list-teachers')">
    <span> {{teachers?.length}}</span>
    School Teachers
  </div>
  <div class="stat" (click)="goto('list-learners')">
    <span> {{learners?.length}}</span>
    School Learners
  </div>
</div>
